.node {
  cursor: pointer;
}

.node circle {
  fill: #FFF;
  /*stroke: #31B404;*/
  stroke: #057D9F;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
