.filterelement{
  fill: #D3D3D3;
  cursor: pointer;
}

.filterelement.selected{
  fill: darkgrey;
}

li.selected{
  border: 1px solid darkgrey;
}

g text{
  font-size: 10px;
}

#subgroupList li{
  margin-left: -15px;
  cursor: pointer;
}
