.filterelement{
  fill: #D3D3D3;
  cursor: pointer;
}

.filterelement.selected{
  fill: darkgrey;
}

#filterbar text{
  font-size: 10px;
  cursor: pointer;
}

.glyphicon-floppy-disk:after {
  background-color: #323232;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  float: left;
  vertical-align: bottom;
  width: 92%;
  margin-top: -2px;
}
